
REQUIREMENTS FOR COLLEGE ADMISSION TEST(CAT)

Duly accomplished NVSU College Admission Test Application Form 
1 copy of 2x2 id picture
Non-Refundable CAT Fee of 100

Requirements in Claiming College Admission Test Result 
*Please Personally claim your test result on a FRIDAY
(at Edicational Testing Center for Bayombong Campus Examinees ; Guidance services unit for Bambang Campus Examinees)
* If you are Freshman bring with you your form 137 / 138 and copy of NCAE Result , Transferee bring your Transcript of records (TOR) , ALS Graduate bring your ALS Certificate

Reminders
* You can take the NVSU-CAT only once . You may take it at Bayombong Campus or Bambang Campus.
* Be well prepared before and during your examination day.
* Your test schedule will depend on the available slot upon filling out of your application form.
* Please file yoour duly accomplished application form 1 week before you take the NVSU-CAT
* NVSU-CAT in conducted from MONDAY - THURSDAY on the following schedules 7:30AM - 9:00 AM.
* Be at the Testing Venue at least 15 minutes early before your scheduled examination.
